<div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
  <div class="px-4 sm:px-0">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Hair information</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Color and hair type</p>
  </div>

  <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
    <div class="px-4 py-6 sm:p-8">
      <div class="max-w-2xl space-y-10">
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-9">
          <%= form.fields_for :hair, user.hair || Hair.new do |builder| %>
            <div class="sm:col-span-3">
              <%= builder.label :color, class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <%= builder.text_field :color, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>

            <div class="sm:col-span-3">
              <%= builder.label :hair_type, class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <%= builder.text_field :hair_type, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
