<%= turbo_stream_from "#{('users-c51808f2-9500-4cb4-b288-1852d2200ed5').to_sym}" %>

<div class="w-full users-list" data-controller="mass-delete">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if @loading %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block">Fetching users...</p>
  <% end %>

  <%= render "search_menu" %>

  <div class="px-0 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="px-0 sm:px-0 lg:px-0">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
        <p class="mt-2 text-sm text-gray-700">A list of the users.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <div class="flex col">
          <%= link_to 'New user', new_user_path, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mx-2" %>
          <button data-action="click->mass-delete#massDelete" class="block rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 mx-2">Delete selected users</button>
        </div>
      </div>
    </div>
  </div>
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"></th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Private info</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Biological info</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Digital info</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Eye & gender</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Others</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Actions</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody id="users" is="turbo-frame" class="divide-y divide-gray-200 bg-white">
            <%= render @users %>
            <!-- More people... -->
          </tbody>
        </table>
        <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>

        <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
          <div class="hidden sm:block">
            <p class="text-sm text-gray-700">
              Showing
              <span class="font-medium"><%= (@skip - 9) < 0 ? 0 : @skip - 9 %></span>
              to
              <span class="font-medium"><%= @skip %></span>
              of
              <span class="font-medium"><%= User.count %></span>
              results
            </p>
          </div>
          <div class="flex flex-1 justify-between sm:justify-end">
            <% if @skip != 10 %>
              <%= link_to "Previous", users_path(skip: @skip > 0 ? @skip - 20 : @skip), class: "relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0" %>
            <% end %>

            <% if User.count != @skip || true %>
              <%= link_to "Next", users_path(skip: @skip), class: "relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0" %>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
